
@{
    ViewBag.Title = "lop hoc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
        <table id="studentTable" class="table color-bordered-table success-bordered-table" style="width:100%">
            <thead>
                <tr>
                    <th>ID22</th>
                    <th>First Name33</th>
                    <th>Last Name11</th>
                    <th>Fees Paid</th>
                    <th>Gender</th>
                    <th>Email</th>
                    <th>Telephone Number</th>
                    <th>Date of Birth</th>
                    <th>eed</th>
                </tr>
            </thead>
        </table>
</div>
<script src="~/Scripts/Students/Students.js"></script>
<script>
    $(document).ready(function () {

    })
</script>