@{
    ViewBag.Title = "lop hoc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-lg-8 col-xlg-10 col-md-8">
        <div class="card card-outline-info">
            <div class="card-header">
                <h4 class="m-b-0 text-white">Danh sách lớp học</h4>
            </div>
            <div class="card-block">
                <table id="subjecttable" class="table color-bordered-table success-bordered-table" style="width: 100%">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Mã môn học</th>
                            <th>Tên môn học</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-xlg-2 col-md-4">
        <div class="stickyside">
            <div class="list-group" id="top-menu">
                <div class="card card-outline-info">
                    <div class="card-header">
                        <h4 class="m-b-0 text-white">Thông tin chi tiết</h4>
                    </div>
                    <div class="card-block">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="control-label text-right  col-md-3" style="padding-top: 9px">Lớp</label>
                                    <div class="col-md-9">
                                        <input id="classname" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="control-label text-right  col-md-3" style="padding-top: 9px">Khối</label>
                                    <div class="col-md-9">
                                        <input id="classlevelname" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="control-label text-right  col-md-3" style="padding-top: 9px">Sĩ số</label>
                                    <div class="col-md-9">
                                        <input id="total" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="control-label text-right  col-md-3" style="padding-top: 9px">GVCN</label>
                                    <div class="col-md-9">
                                        <input id="teachername" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>
<script src="~/Scripts/Subjects/Subjects.js"></script>
<script>
    $(document).ready(function () {

    })
</script>
