
@{
    ViewBag.Title = "Phần mềm quản lý học sinh111";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<script src="../assets/plugins/jquery/jquery.min.js"></script>*@
<h1>day la h1 nhe </h1>
<h1>day la h1 nhe </h1>
<h1>day la h1 nhe </h1>
<h1>day la h1 nhe </h1>
<h1>day la h1 nhe </h1>
<h1>day la h1 nhe </h1>